<mat-form-field class="search-field">
	<input (keyup)="applyFilter($event)"
		matInput
		placeholder="Search ...">
</mat-form-field>

<div class="actions-header">
	<!-- Affichage du nombre total d'étudiants -->
	<p class="total-students">
		Total Students: {{totalSubjects}}
	</p>

	<!-- Bouton pour rediriger -->
	<button [routerLink]="'/navigation/classrooms/list'"
		mat-button
		appStyledButton
		width="auto">
		GO BACK
	</button>
</div>

<div class="page__content-data-list">
	<ng-container *ngIf="dataSource.filteredData.length === 0">
		<p class="no-matches-message">No matches found.</p>
	</ng-container>
	<div *ngFor="let subject of dataSource.filteredData"
		class="element-card">
		<div class="element-card-content">
			<h3 class="element-name">
				{{ subject.name | titlecase }}
			</h3>
			<p class="element-info">
				Coefficient : x {{ subject.coefficient  }}
			</p>
		</div>
	</div>
</div>
