<div class="content-container">
	<form [formGroup]="form"
		(ngSubmit)="onSubmit()">
		<div class="form-grid">

			<!-- Name -->
			<div class="form-group">
				<label for="name">Nom :</label>
				<input type="text"
					id="name"
					name="name"
					formControlName="name">
				<div *ngIf="isInvalid(name)"
					class="error-message">
					<div *ngIf="isRequiredError(name)">Le nom est requis.</div>
				</div>
			</div>

			<!-- Password -->
			<div class="form-group">
				<label for="password">Mot de passe :</label>
				<input type="password"
					id="password"
					name="password"
					formControlName="password">
				<div *ngIf="isInvalid(password)"
					class="error-message">
					<div *ngIf="isRequiredError(password)">
						Le mot de passe est requis.
					</div>
				</div>
			</div>

			<!-- Email -->
			<div class="form-group">
				<label for="email">Email :</label>
				<input type="email"
					id="email"
					name="email"
					formControlName="email">
				<div *ngIf="isInvalid(email)"
					class="error-message">
					<div *ngIf="isRequiredError(email)">
						L'adresse email est requise.
					</div>
					<div *ngIf="isPatternError(email)">
						Format d'email invalide.
					</div>
				</div>
			</div>

			<!-- Role -->
			<div class="form-group">
				<label for="role">Rôle :</label>
				<select id="role"
					formControlName="role">
					<option value="{{userRole.Administrative}}">
						{{userRole.Administrative}}
					</option>

					<option *ngIf="loggedInUserRole==='SuperAdmin'"
						value="{{userRole.Admin}}">
						{{userRole.Admin}}
					</option>
				</select>
				<div *ngIf="isInvalid(role)"
					class="error-message">
					<div *ngIf="isRequiredError(role)">Le rôle est requis.</div>
				</div>
			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button type="submit"
				appStyledButton>
				Update
			</button>
			<button (click)="goBack()"
				appStyledButton>
				Retourner à la liste
			</button>
		</div>
	</form>
</div>
