<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">

		<!-- Nom de l'application -->
		<a [routerLink]="['/navigation/home']"
			class="navbar-brand">
			<span class="color-title">YEKOLA</span>
			SCHOOL
		</a>

		<!-- Bouton hamburger pour les petits écrans -->
		<button class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Éléments de la navbar -->
		<div class="collapse navbar-collapse"
			id="navbarNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a [routerLink]="['/navigation/home']"
						class="nav-link">
						ACCUEIL
					</a>
				</li>

				<!-- Déroulant "STUDENT" -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						ETUDIANT
					</a>
					<ul class="dropdown-menu">
						<li>
							<a [routerLink]="['/navigation/students/create']"
								class="dropdown-item">
								CRÉER UN NOUVEAU ETUDIANT
							</a>
						</li>
						<li>
							<a [routerLink]="['/navigation/students/list']"
								class="dropdown-item">
								VOIR LA LISTE
							</a>
						</li>
					</ul>
				</li>

				<!-- Déroulant "CLASS" -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						CLASSES
					</a>
					<ul class="dropdown-menu">
						<li>
							<a [routerLink]="['/navigation/classrooms/create']"
								class="dropdown-item">
								CRÉER UNE NOUVELLE CLASSE
							</a>
						</li>
						<li>
							<a [routerLink]="['/navigation/classrooms/list']"
								class="dropdown-item">
								VOIR LA LISTE
							</a>
						</li>
					</ul>
				</li>

				<!-- Déroulant "SUBJECT" -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						MATIÈRES
					</a>
					<ul class="dropdown-menu">
						<li>
							<a [routerLink]="['/navigation/subjects/create']"
								class="dropdown-item">
								CRÉER UNE NOUVELLE MATIÈRE
							</a>
						</li>

						<li>
							<a [routerLink]="['/navigation/subjects/add-to-classroom']"
								class="dropdown-item">
								ATTRIBUER À UNE CLASSE
							</a>
						</li>

						<li>
							<a [routerLink]="['/navigation/subjects/list']"
								class="dropdown-item">
								VOIR LA LISTE
							</a>
						</li>

					</ul>
				</li>

				<!-- Déroulant "GRADES" -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						NOTES
					</a>
					<ul class="dropdown-menu">
						<li>
							<a [routerLink]="['/navigation/grades/create']"
								class="dropdown-item">
								CRÉER UNE NOUVELLE NOTE
							</a>
						</li>

						<li>
							<a [routerLink]="['/navigation/grades/list']"
								class="dropdown-item">
								VOIR LA LISTE
							</a>
						</li>

					</ul>
				</li>

				<!-- Déroulant "USERS" -->
				<li *ngIf="loggedInUserRole==='Admin' || loggedInUserRole==='SuperAdmin'"
					class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						UTILISATEUR
					</a>
					<ul class="dropdown-menu">
						<li>
							<a [routerLink]="['/navigation/users/create']"
								class="dropdown-item">
								CRÉER UN NOUVEL UTILISATEUR
							</a>
						</li>

						<li>
							<a [routerLink]="['/navigation/users/list']"
								class="dropdown-item">
								VOIR LA LISTE
							</a>
						</li>

					</ul>
				</li>

			</ul>

			<!-- User Connect -->
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						{{loggedInUserName}}
					</a>
					<ul class="dropdown-menu">
						<li>
							<a (click)="logout()"
								class="dropdown-item">
								DÉCONNEXION
							</a>
						</li>
						<li *ngIf="loggedInUserRole==='Admin' || loggedInUserRole==='SuperAdmin'">
							<a [routerLink]="['/navigation/users/parameters']"
								class="dropdown-item">
								PARAMÈTRES
							</a>
						</li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</nav>
