<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0">
		<title>
			Students Of Classroom
		</title>
		<link rel="stylesheet" href="classroom-students-list-view-page.component.scss">

	</head>
	<body>
		<app-navigation-bar></app-navigation-bar>
		<div class="view-content">
			<app-classroom-students-list [CLASSROOM_ID]="+CLASSROOM_ID"
				class="component-list"></app-classroom-students-list>
		</div>

	</body>
</html>
