<div class="content-container">

	<form (ngSubmit)="submitForm()">
		<div class="form-grid">

			<!-- Name -->
			<div class="form-group">
				<label for="name">Nom de la salle de classe  :</label>
				<input [(ngModel)]="currentClassroom.name"
					type="text"
					id="name"
					name="name"
					class="form-control">
			</div>

			<!-- Year -->
			<div class="form-group">
				<label for="year">Année  :</label>
				<select [(ngModel)]="selectedYear"
					(ngModelChange)="onChangeYear($event)"
					id="year"
					name="year">
					<option *ngFor="let year of yearOptions"
						[value]="year">
						{{ year }}
					</option>
				</select>
			</div>

			<!-- Level -->
			<div class="form-group">
				<label for="level">Niveau  :</label>
				<select [(ngModel)]="currentClassroom.level"
					id="level"
					name="level">
					<option *ngFor="let option of levelOptions"
						[value]="option">
						{{ option }}
					</option>
				</select>
			</div>

			<!-- Maximum capacity -->
			<div class="form-group">
				<label for="maximum_capacity">Capacité maximale :</label>
				<input [(ngModel)]="currentClassroom.maximum_capacity"
					type="number"
					id="maximum_capacity"
					name="maximum_capacity"
					min="1">
			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button appStyledButton
				type="submit">
				Mettre à jour
			</button>
			<button (click)="goBack()"
				appStyledButton>
				Retourner à la liste
			</button>
		</div>
	</form>
</div>
