<div class="content-container">
	<form (ngSubmit)="submitForm()">
		<div class="form-grid">

			<!-- Name -->
			<div class="form-group">
				<label for="name">Nom :</label>
				<input [(ngModel)]="user.name"
					type="text"
					id="name"
					name="name">
			</div>

			<!-- Email -->
			<div class="form-group">
				<label for="email">Email :</label>
				<input [(ngModel)]="user.email"
					type="email"
					id="email"
					name="email">
			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button type="submit"
				appStyledButton>
				Mettre à jour mon profil
			</button>
			<button [routerLink]="['/navigation/users/change-password']"
				appStyledButton>
				Je souhaite changer mon mot de passe
			</button>
		</div>

	</form>
</div>
