<!-- Ajouter le champ de recherche -->
<mat-form-field class="search-field">
	<input (keyup)="applyFilter($event)"
		matInput
		placeholder="Rechercher une classe">
</mat-form-field>
<p class="total-classes">
	Total de classes : {{ totalClasses }}
</p>

<div class="page__content-data-list">
	<ng-container *ngIf="dataSource.filteredData.length === 0">
		<p class="no-matches-message">
			Aucune correspondance trouvée.
		</p>
	</ng-container>
	<div *ngFor="let classroom of dataSource.filteredData"
		class="element-card">
		<div class="element-card-content">
			<h3 class="element-name">
				{{ classroom.name | titlecase }}
			</h3>
			<p class="element-info">
				Niveau : {{ classroom.level }}
			</p>
			<p class="element-info">
				Année : {{ classroom.year }}
			</p>
			<p class="element-info">
				Capacité maximale : {{ classroom.maximum_capacity }}
			</p>
		</div>
		<div class="element-card-actions">

			<button [routerLink]="['/navigation/classrooms', classroom.id, 'students']"
				class="btn btn-people">
				<mat-icon>people</mat-icon>
				<span class="hover-message">Étudiants</span>
			</button>

			<button [routerLink]="['/navigation/classrooms', classroom.id, 'subjects']"
				class="btn btn-subject">
				<mat-icon>subject</mat-icon>
				<span class="hover-message">Matières</span>
			</button>

			<button [routerLink]="['/navigation/classrooms/edit', classroom.id]"
				class="btn btn-edit">
				<mat-icon>create</mat-icon>
				<span class="hover-message">Modifier</span>
			</button>

			<button (click)="deleteClassroom(classroom.id)"
				class="btn btn-delete">
				<mat-icon>delete</mat-icon>
				<span class="hover-message">Supprimer</span>
			</button>
		</div>
	</div>
</div>
