<div class="content-container">

	<form [formGroup]="form"
		(ngSubmit)="onSubmit()">
		<div class="form-grid">

			<!-- Full name -->
			<div class="form-group">
				<label for="full_name">Full Name:</label>
				<input type="text"
					id="full_name"
					name="full_name"
					formControlName="full_name">

				<div *ngIf="isInvalid(full_name)"
					class="error-message">
					<div *ngIf="isRequiredError(full_name)">
						Full name is required.
					</div>
				</div>
			</div>

			<!-- Date of birth -->
			<div class="form-group">
				<label for="date_of_birth">Date of Birth:</label>
				<input type="date"
					formControlName="date_of_birth">

				<div *ngIf="isInvalid(date_of_birth)"
					class="error-message">
					<div *ngIf="isRequiredError(date_of_birth)">
						Date of Birth is required.
					</div>
				</div>
			</div>

			<!-- Adress -->
			<div class="form-group">
				<label for="address">Address:</label>
				<input type="text"
					id="address"
					name="address"
					formControlName="address">

				<div *ngIf="isInvalid(address)"
					class="error-message">
					<div *ngIf="isRequiredError(address)">
						Address is required.
					</div>
				</div>
			</div>

			<!-- Email -->
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email"
					id="email"
					name="email"
					formControlName="email">

				<div *ngIf="isInvalid(email)"
					class="error-message">
					<div *ngIf="isRequiredError(email)">Email is required.</div>
					<div *ngIf="isPatternError(email)">
						Invalid email format.
					</div>
				</div>
			</div>

			<!-- Phone Number -->
			<div class="form-group">
				<label for="phone_number">Phone Number:</label>
				<input type="tel"
					id="phone_number"
					name="phone_number"
					formControlName="phone_number">

				<div *ngIf="isInvalid(phone_number)"
					class="error-message">
					<div *ngIf="isRequiredError(phone_number)">
						Phone Number is required.
					</div>
					<div *ngIf="isPatternError(phone_number)">
						Invalid phone number format.
					</div>
				</div>
			</div>

			<!-- Classroom -->
			<div class="form-group">
				<label for="classroom">Classroom:</label>
				<select id="classroom"
					formControlName="classroom">
					<option *ngFor="let classroom of classrooms"
						[ngValue]="classroom">
						{{ classroom.name }} - {{classroom.level}}
					</option>
				</select>

				<div *ngIf="isInvalid(classroom)"
					class="error-message">
					<div *ngIf="isRequiredError(classroom)">
						Classroom is required.
					</div>
				</div>
			</div>

			<!-- Gender -->
			<div class="form-group full-width">
				<label for="gender">Gender:</label>
				<select id="gender"
					formControlName="gender">
					<option value="{{genderType.Female}}">
						{{genderType.Female}}
					</option>
					<option value="{{genderType.Male}}">{{genderType.Male}}</option>
				</select>

				<div *ngIf="isInvalid(gender)"
					class="error-message">
					<div *ngIf="isRequiredError(gender)">Gender is required.</div>
				</div>
			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button type="submit"
				appStyledButton>
				Create
			</button>
		</div>
	</form>
</div>