<div class="content-container">

	<form [formGroup]="form"
		(ngSubmit)="onSubmit()">
		<div class="form-grid">

			<!-- Full name -->
			<div class="form-group">
				<label for="full_name">Nom complet :</label>
				<input type="text"
					id="full_name"
					name="full_name"
					formControlName="full_name">

				<div *ngIf="isInvalid(full_name)"
					class="error-message">
					<div *ngIf="isRequiredError(full_name)">
						Le nom complet est requis.
					</div>
				</div>
			</div>

			<!-- Date of birth -->
			<div class="form-group">
				<label for="date_of_birth">Date de naissance :</label>
				<input type="date"
					formControlName="date_of_birth">

				<div *ngIf="isInvalid(date_of_birth)"
					class="error-message">
					<div *ngIf="isRequiredError(date_of_birth)">
						La date de naissance est requise.
					</div>
				</div>
			</div>

			<!-- Adress -->
			<div class="form-group">
				<label for="address">Addresse :</label>
				<input type="text"
					id="address"
					name="address"
					formControlName="address">

				<div *ngIf="isInvalid(address)"
					class="error-message">
					<div *ngIf="isRequiredError(address)">
						L'adresse est requise.
					</div>
				</div>
			</div>

			<!-- Email -->
			<div class="form-group">
				<label for="email">Email :</label>
				<input type="email"
					id="email"
					name="email"
					formControlName="email">

				<div *ngIf="isInvalid(email)"
					class="error-message">
					<div *ngIf="isRequiredError(email)">L'email est requis.</div>
					<div *ngIf="isPatternError(email)">
						Format d'email invalide.
					</div>
				</div>
			</div>

			<!-- Phone Number -->
			<div class="form-group">
				<label for="phone_number">
					Numéro de téléphone :
				</label>
				<input type="tel"
					id="phone_number"
					name="phone_number"
					formControlName="phone_number">

				<div *ngIf="isInvalid(phone_number)"
					class="error-message">
					<div *ngIf="isRequiredError(phone_number)">
						Le numéro de téléphone est requis.
					</div>
					<div *ngIf="isPatternError(phone_number)">
						Format de numéro de téléphone invalide. Minimum 9 chiffres
					</div>
				</div>
			</div>

			<!-- Classroom -->
			<div class="form-group">
				<label for="classroom">Salle de classe :</label>
				<select id="classroom"
					formControlName="classroom">
					<option *ngFor="let classroom of classrooms"
						[ngValue]="classroom">
						{{ classroom.name }} - {{classroom.level}}
					</option>
				</select>

				<div *ngIf="isInvalid(classroom)"
					class="error-message">
					<div *ngIf="isRequiredError(classroom)">
						La salle de classe est requise.
					</div>
				</div>
			</div>

			<!-- Gender -->
			<div class="form-group full-width">
				<label for="gender">Genre :</label>
				<select id="gender"
					formControlName="gender">
					<option value="{{genderType.Female}}">
						{{genderType.Female}}
					</option>
					<option value="{{genderType.Male}}">{{genderType.Male}}</option>
				</select>

				<div *ngIf="isInvalid(gender)"
					class="error-message">
					<div *ngIf="isRequiredError(gender)">
						Le genre est requis.
					</div>
				</div>
			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button type="submit"
				appStyledButton>
				Créer
			</button>
		</div>
	</form>
</div>
