<div class="content-container">

	<form [formGroup]="form"
		(ngSubmit)="onSubmit()">
		<div class="form-grid">

			<!-- Name -->
			<div class="form-group">
				<label for="name">Nom de la salle de classe :</label>
				<input type="text"
					id="name"
					name="name"
					formControlName="name">

				<div *ngIf="isInvalid(name)"
					class="error-message">
					<div *ngIf="isRequiredError(name)">Le nom est requis.</div>
					<div *ngIf="isPatternError(name)">
						Le nom ne peut contenir que des lettres et ne peut pas commencer par un espace.
					</div>
				</div>
			</div>

			<!-- Year -->
			<div class="form-group">
				<label for="year">Année :</label>
				<select id="year"
					name="year"
					formControlName="year">
					<option *ngFor="let year of yearOptions"
						[value]="year">
						{{ year }}
					</option>
				</select>

				<div *ngIf="isInvalid(year)"
					class="error-message">
					<div *ngIf="isRequiredError(year)">L'année est requise.</div>
				</div>
			</div>

			<!-- Level -->
			<div class="form-group">
				<label for="level">Niveau :</label>
				<select id="level"
					name="level"
					formControlName="level">
					<option *ngFor="let option of levelOptions"
						[value]="option">
						{{ option }}
					</option>
				</select>

				<div *ngIf="isInvalid(level)"
					class="error-message">
					<div *ngIf="isRequiredError(level)">Le niveau est requis.</div>
				</div>
			</div>

			<!-- Maximum capacity -->
			<div class="form-group">
				<label for="maximum_capacity">Capacité maximale :</label>
				<input type="number"
					id="maximum_capacity"
					name="maximum_capacity"
					min="1"
					formControlName="maximum_capacity">

				<div *ngIf="isInvalid(maximum_capacity)"
					class="error-message">
					<div *ngIf="isRequiredError(maximum_capacity)">
						La capacité maximale est requise.
					</div>
					<div *ngIf="isPatternError(maximum_capacity)">
						La capacité doit être un nombre supérieur ou égal à 1.
					</div>
				</div>

			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button type="submit"
				appStyledButton>
				Créer
			</button>
		</div>
	</form>
</div>
