<mat-form-field class="search-field">
	<input (keyup)="applyFilter($event)"
		matInput
		placeholder="Search ...">
</mat-form-field>

<div class="actions-header">
	<p class="total-grades">
		Total des notes : {{totalGrades}}
	</p>

	<!-- Bouton pour rediriger -->
	<button [routerLink]="'/navigation/students/list'"
		mat-button
		appStyledButton
		width="auto">
		RETOUR
	</button>
</div>

<div class="page__content-data-list">
	<ng-container *ngIf="dataSource.filteredData.length === 0">
		<p class="no-matches-message">
			Aucune correspondance trouvée.
		</p>
	</ng-container>
	<div *ngFor="let grade of dataSource.filteredData"
		class="element-card">
		<div class="element-card-content">
			<h3 class="element-type">
				{{ grade.type | titlecase }}
			</h3>
			<p class="element-info">
				Matière : {{ grade.subject.name  }}
			</p>
			<p class="element-info">
				Note : {{ grade.score  }}/20
			</p>
		</div>
	</div>
</div>
