<div class="home-container">
	<div class="dashboard">
		<div (click)="manageClassrooms()"
			class="dashboard-item">
			<div class="circle-image">
				<img src="https://img.freepik.com/photos-gratuite/bureau-moderne-chaises-vides-ordinateurs-generes-par-ia_188544-22073.jpg?w=900&t=st=1690938308~exp=1690938908~hmac=fd0e8095472c5548e55f99ff0a08e9007b4c2deb4d433e7d7003206f0a493561"
					alt="Salles de classes">
			</div>
			<div class="card-details">
				<h2>Gérer les Salles de Classes</h2>
				<p>
					Organisez efficacement et surveillez toutes les salles de classes de votre établissement éducatif, y compris la planification, l'attribution des salles et la gestion des capacités.
				</p>
			</div>
		</div>
		<div (click)="manageStudents()"
			class="dashboard-item">
			<div class="circle-image">
				<img src="https://img.freepik.com/photos-gratuite/groupe-etudiants-joyeux-heureux-assis-dans-salle-conference-avant-lecon_155003-15129.jpg?w=740&t=st=1690938373~exp=1690938973~hmac=dd84b8e2cf57ee49e07d944dcc570a5a8b95f3c2292de55e860c57a24e4ef9a0"
					alt="Étudiants">
			</div>
			<div class="card-details">
				<h2>Gérer les Étudiants</h2>
				<p>
					Gérez efficacement les dossiers des étudiants, l'inscription, la présence et les performances, vous permettant ainsi de soutenir et de guider le parcours académique de vos étudiants.
				</p>
			</div>
		</div>
		<div (click)="manageGrades()"
			class="dashboard-item">
			<div class="circle-image">
				<img src="https://img.freepik.com/vecteurs-libre/composition-papier-test-realiste-crayon-pile-documents-etudiants-notes-reponses-correctes_1284-54249.jpg?w=740&t=st=1690938931~exp=1690939531~hmac=f15b67ef93ad53e10d67fecfaa617b86a0a315d0f8bb4d072638d260cb698c14"
					alt="Notes">
			</div>
			<div class="card-details">
				<h2>Gérer les Notes</h2>
				<p>
					Enregistrez, analysez et gérez facilement les performances académiques des étudiants, fournissant des informations pour favoriser la croissance et l'amélioration.
				</p>
			</div>
		</div>
		<div (click)="manageSubjects()"
			class="dashboard-item">
			<div class="circle-image">
				<img src="https://img.freepik.com/vecteurs-libre/ustensiles-scolaires-symboles-dessins-animes_18591-51805.jpg?w=740&t=st=1690939113~exp=1690939713~hmac=d28da496818a505dc9455ad957e3b20dd1e0447223365b0f895e6f26d10317be"
					alt="Matières">
			</div>
			<div class="card-details">
				<h2>Gérer les Matières</h2>
				<p>
					Contrôlez et organisez efficacement les matières enseignées dans votre établissement, y compris la gestion des programmes et l'attribution du personnel enseignant.
				</p>
			</div>
		</div>
	</div>
</div>
