$primary-background-color: #040438;
.home-container {
  background-color: $primary-background-color;
  margin-top: 100px;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 20px; */

  .dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;

    .dashboard-item {
      display: flex;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        .circle-image {
          border: 5px solid orange;
        }

        .card-details {
          h2 {
            color: orange;
          }
        }
      }

      .circle-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-details {
        h2 {
          font-size: 1.7em;
          margin-bottom: 10px;
        }

        p {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    .dashboard {
      display: flex;
      flex-direction: column;

      .dashboard-item {
        flex-direction: column;

        .card-details{
          text-align: center;

          h2 {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
