<div class="content-container">
	<form [formGroup]="form"
		(ngSubmit)="onSubmit()">
		<!-- Subject -->
		<div class="form-group">
			<label for="subject">
				Sélectionnez la matière :
			</label>
			<select id="subject"
				name="subject"
				formControlName="subject">
				<option *ngFor="let subject of subjects"
					[value]="subject.id">
					{{ subject.name }}
				</option>
			</select>

			<div *ngIf="isInvalid(subject)"
				class="error-message">
				<div *ngIf="isRequiredError(subject)">
					La matière est requise.
				</div>
			</div>
		</div>

		<!-- Classroom -->
		<div class="form-group">
			<label for="classroom">
				Sélectionnez la salle de classe :
			</label>
			<select id="classroom"
				name="classroom"
				formControlName="classroom">
				<option *ngFor="let classroom of classrooms"
					[value]="classroom.id">
					{{ classroom.name }}
				</option>
			</select>

			<div *ngIf="isInvalid(classroom)"
				class="error-message">
				<div *ngIf="isRequiredError(classroom)">
					La salle de classe est requise
				</div>
			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button type="submit"
				appStyledButton>
				Affecter la matière
			</button>
		</div>

	</form>
</div>
