<div class="details-container">
	<div class="details-grid">
		<div class="details-group">
			<label for="student">Étudiant :</label>
			<p>
				{{ grade.student.full_name }}
			</p>
		</div>
		<div class="details-group">
			<label for="classroom">Classe :</label>
			<p>
				{{ grade.student.classroom.name }}
			</p>
		</div>
		<div class="details-group">
			<label for="level">Niveau :</label>
			<p>
				{{ grade.student.classroom.level }}
			</p>
		</div>
		<div class="details-group">
			<label for="year">Année :</label>
			<p>
				{{ grade.student.classroom.year }}
			</p>
		</div>
		<div class="details-group">
			<label for="subject">Matière :</label>
			<p>
				{{ grade.subject.name }}
			</p>
		</div>
		<div class="details-group">
			<label for="coefficient">Coefficient :</label>
			<p>
				x {{ grade.subject.coefficient }}
			</p>
		</div>
		<div class="details-group">
			<label for="score">Score:</label>
			<p>{{ grade.score }}</p>
		</div>

		<div class="details-group">
			<label for="comment">Commentaire :</label>
			<p>{{ grade.comment }}</p>
		</div>
	</div>
	<div class="button-group">
		<button (click)="goBack()"
			appStyledButton>
			Retourner à la liste
		</button>
	</div>
</div>
