<div class="content-container">
	<form [formGroup]="form"
		(ngSubmit)="onSubmit()">
		<!-- Name -->
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text"
				id="name"
				name="name"
				formControlName="name">
			<div *ngIf="isInvalid(name)"
				class="error-message">
				<div *ngIf="isRequiredError(name)">Name is required.</div>
			</div>
		</div>

		<!-- Coefficient -->
		<div class="form-group">
			<label for="coefficient">Coefficient:</label>
			<input type="number"
				id="coefficient"
				name="coefficient"
				formControlName="coefficient">
			<div *ngIf="isInvalid(coefficient)"
				class="error-message">
				<div *ngIf="isRequiredError(coefficient)">
					Coefficient is required.
				</div>
			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button type="submit"
				appStyledButton>
				Update
			</button>
			<button (click)="goBack()"
				appStyledButton>
				Back To List
			</button>
		</div>
	</form>
</div>
