<div class="content-container">
	<form [formGroup]="form"
		(ngSubmit)="onSubmit()">
		<div class="form-grid">

			<!-- Score -->
			<div class="form-group">
				<label for="score">Note :</label>
				<input type="number"
					id="score"
					name="score"
					formControlName="score">

				<div *ngIf="isInvalid(score)"
					class="error-message">
					<div *ngIf="isRequiredError(score)">La note est requise.</div>
				</div>
			</div>

			<!-- Type -->
			<div class="form-group">
				<label for="type">Type :</label>
				<select id="type"
					formControlName="type">
					<option value="{{gradeType.Exam}}">{{gradeType.Exam}}</option>
					<option value="{{gradeType.Assignment}}">
						{{gradeType.Assignment}}
					</option>
				</select>

				<div *ngIf="isInvalid(type)"
					class="error-message">
					<div *ngIf="isRequiredError(type)">Le type est requis.</div>
				</div>
			</div>

			<!-- Student -->
			<div class="form-group">
				<label for="student">Étudiant :</label>
				<select id="student"
					formControlName="student">
					<option *ngFor="let student of students"
						[ngValue]="student">
						{{ student.full_name }}
					</option>
				</select>

				<div *ngIf="isInvalid(student)"
					class="error-message">
					<div *ngIf="isRequiredError(student)">
						L'étudiant est requis.
					</div>
				</div>
			</div>

			<!-- Subject -->
			<div class="form-group">
				<label for="subject">Matière :</label>
				<select id="subject"
					formControlName="subject">
					<option *ngFor="let subject of subjects"
						[ngValue]="subject">
						{{ subject.name }}
					</option>
				</select>

				<div *ngIf="isInvalid(subject)"
					class="error-message">
					<div *ngIf="isRequiredError(subject)">
						La matière est requise.
					</div>
				</div>
			</div>

			<!-- Comment -->
			<div class="form-group full-width">
				<label for="comment">Commentaire:</label>
				<textarea id="comment"
					name="comment"
					formControlName="comment"></textarea>
			</div>

			<div *ngIf="isInvalid(comment)"
				class="error-message">
				<div *ngIf="isRequiredError(comment)">
					Le commentaire est requis.
				</div>
			</div>
		</div>

		<!-- Button -->
		<div class="button-group">
			<button type="submit" appStyledButton>Ajouter la note</button>
		</div>
	</form>
</div>
