<div class="qualified-faculty-container">
	<div class="image-container">
		<img src="https://img.freepik.com/photos-gratuite/concept-collage-html-css-personne_23-2150061972.jpg?w=740&t=st=1690632197~exp=1690632797~hmac=98128f2f52810580cece5cfd6d37f6ca6aabf4075422b6f30b0f3be1846ab396"
			alt="Image alt text">
	</div>
	<div class="text-container">
		Dans notre école d'informatique, nous sommes fiers de notre corps professoral hautement qualifié et expérimenté. Nos professeurs ne sont pas seulement des experts dans le domaine, mais ils sont également passionnés par l'enseignement et dévoués à vous aider à atteindre votre plein potentiel. Ils apportent des connaissances du monde réel en classe, vous offrant une expérience éducative complète.
	</div>
</div>
