<div class="comprehensive-curriculum-container">
    <div class="image-container">
      <img src="https://img.freepik.com/photos-gratuite/gens-plan-moyen-obtenant-leur-diplome_23-2148950544.jpg?w=826&t=st=1690632065~exp=1690632665~hmac=61e3ba12a1a27f50aa718255912221df0c98dac9d3ea1240ec5ac5133491c965" alt="Image alt text" />
    </div>
    <div class="text-container">
      Notre école d'informatique propose un programme complet et à jour qui englobe un large éventail de
      matières cruciales pour le domaine de l'informatique. Nos cours sont conçus pour vous fournir une base solide
      et suivre le rythme de l'évolution rapide du paysage technologique.
    </div>
  </div>