<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0">
		<title>Angular Navbar</title>
		<!-- Link Bootstrap CSS -->
		<link rel="stylesheet" href="home-page.component.scss">
	</head>
	<body>

		<app-navbar></app-navbar>

		<!-- Section Bannière -->
		<section class="banner">
			<h3>
				ÉCOLE SUPÉRIEURE D'INFORMATIQUE
			</h3>
			<h1>
				Le bon choix pour 
				<span class="color-title">VOTRE</span>
				avenir
			</h1>
			<button>EN SAVOIR PLUS</button>
		</section>

		<!-- Section "Who We Are" -->
		<section class="who-we-are-section"
			id="who-we-are">
			<h3 class="who-we-are-title">Qui sommes-nous?</h3>

			<div class="who-we-are-content">
				<p>
					À Yekola School, nous comprenons l'importance de l'expérience pratique dans la formation de professionnels de la technologie
				réussis. Dans le cadre de notre engagement envers la réussite des étudiants, nous entretenons de solides liens
				avec l'industrie, ce qui nous permet de proposer des stages exceptionnels et des opportunités de projets pratiques
				pour nos étudiants.
				</p>
				<p>
					Grâce à ces expériences, nos étudiants acquièrent une précieuse exposition aux défis du monde réel et aux technologies émergentes,
				ce qui les prépare à réussir dans le paysage dynamique et compétitif de l'informatique.
				</p>
			</div>
		</section>

		<!-- Section: Why Choose Yekola School? -->
		<section class="why-choose"
			id="why-choose">
			<h3>
				Pourquoi choisir Yekola School?
			</h3>

			<div class="reasons-container">
				<!-- Conteneur pour les reasons -->
				<div [ngClass]="{'active': reason1.active,'default-selected': reason1.active}"
					(click)="toggleReasonContent(reason1)"
					class="reason">
					<h4>
						Programme complet et à jour
					</h4>
				</div>

				<div [ngClass]="{'active': reason2.active}"
					(click)="toggleReasonContent(reason2)"
					class="reason">
					<h4>
						Corps enseignant qualifié et expérimenté
					</h4>
				</div>

				<div [ngClass]="{'active': reason3.active}"
					(click)="toggleReasonContent(reason3)"
					class="reason">
					<h4>
						Stages et opportunités de projets pratiques
					</h4>
				</div>
			</div>
			<!-- Fin du conteneur pour les reasons -->

			<div class="slider-section">
				<!-- Load the selected reason's description component -->
				<ng-container *ngIf="selectedReason && selectedReason.component">
					<ng-container *ngComponentOutlet="selectedReason.component"></ng-container>
				</ng-container>
			</div>
		</section>

		<!-- Section "Contacts" -->
		<section class="contacts-section"
			id="contacts">
			<div class="contacts-header">
				<h3 class="contacts-title">Contactez-nous</h3>
			</div>

			<div class="contacts-content">
				<div class="contact-info">
					<p>
						contact:
						<a href="tel:+11234567890">+1 (123) 456-7890</a>
					</p>
				</div>
				<div class="contact-info">
					<p>
						Email:
						<a href="mailto:laroseikitama@gmail.com">
							laroseikitama@gmail.com
						</a>
					</p>
				</div>
				<div class="contact-info">
					<p>
						Address: 26 Rue Dantec, Dakar, Sénégal
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
