<div #htmlData
	class="container mt-4 report-card-content">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td class="text-center">
					<h1 class="font-weight-bold display-4">YEKOLA SCHOOL</h1>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>
					<p>
						<strong>
							Classe et Année Académique:
						</strong>
						{{ student.classroom.name }} - {{ student.classroom.year }}
					</p>
					<p>
						<strong>Numéro Matricule:</strong>
						{{ student.registrationNumber }}
					</p>
					<p>
						<strong>Nom de l'Étudiant:</strong>
						{{ student.full_name }}
					</p>
					<p>
						<strong>Date de Naissance:</strong>
						{{ student.date_of_birth | date }}
					</p>
					<p>
						<strong>Gender:</strong>
						{{ student.gender }}
					</p>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Classe</th>
				<th>Niveau</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					{{ student.classroom.name }}
				</td>
				<td>
					{{ student.classroom.level }}
				</td>
			</tr>
		</tbody>
	</table>

	<div class="table-container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Matière</th>
					<th>Type</th>
					<th>Coefficient</th>
					<th>Note</th>
					<th>Appréciation</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let grade of grades">
					<td>
						{{ grade.subject.name }}
					</td>
					<td>{{ grade.type }}</td>
					<td>
						x {{ grade.subject.coefficient }}
					</td>
					<td>{{ grade.score }}</td>
					<td>{{ grade.comment }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>
					<p>
						<strong>Moyenne Générale :</strong>
						{{ moyenneGenerale.toFixed(2) }}
					</p>
					<p>
						<strong>
							Appréciation du Conseil :
						</strong>
						Bien
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row mt-4">
	<div class="button-group">
		<button (click)="generatePDF()"
			class="col-6 ">
			Générer un PDF
		</button>
		<button (click)="goback()"
			class="col-6 ">
			Retourner à la liste
		</button>
	</div>
</div>
