<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="login-page.component.scss">
		<title>Document</title>
	</head>
	<body>
		<app-navbar></app-navbar>
		<div class="content-container">

			<div class="content-login">

				<div class="login-description">
					<h2>
						Bienvenue à Yekola School
					</h2>
					<p>
						Bienvenue sur notre site Web de gestion de l'école d'informatique. Nous proposons une gamme complète de cours et de programmes éducatifs dans le domaine de l'informatique et de la technologie de l'information. Que vous soyez débutant cherchant à apprendre les bases ou professionnel expérimenté cherchant à perfectionner vos compétences, notre équipe dévouée d'instructeurs est là pour soutenir votre parcours d'apprentissage.
					</p>
				</div>

				<div class="login-form">
					<form [formGroup]="form"
						(ngSubmit)="onSubmit()">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email"
								id="email"
								name="email"
								formControlName="email">

							<div *ngIf="isInvalid(email)"
								class="error-message">
								<div *ngIf="isRequiredError(email)">L'adresse email est obligatoire.</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password">Mot de passe</label>
							<input type="password"
								id="password"
								name="password"
								formControlName="password">

							<div *ngIf="isInvalid(password)"
								class="error-message">
								<div *ngIf="isRequiredError(password)">
									Le mot de passe est obligatoire.
								</div>
							</div>
						</div>
						<button type="submit" appStyledButton>Se connecter</button>
					</form>
				</div>

			</div>

		</div>

	</body>
</html>
